:root {
  --background-color: #ffffff ;
  --primary-color:rgb(0, 0, 0);
  --secondary-color:#313131;
  --box-color:#0f0f0f;
}

body{
  background-color: var(--background-color) !important;
  font-family: 'Inter' !important;
  color:var(--primary-color) !important;
  
}


:lang(mal) h3{
  font-size:25px !important;
  font-family: 'Noto Sans Malayalam' !important;
}
:lang(mal){
  font-family: 'Noto Sans Malayalam';
}

html,body{
  overscroll-behavior: none;
}
